@import '../../../global.scss';

ion-button {
    --background:transparent !important;
}

ion-menu-button{
    color:$primary-font;
}

ion-title {
    --color:$primary-font;
}

ion-card-title {
    color:$primary-font;
}

.field-name {
    width: 100px;
    color:$primary-font;
    font-weight: 500;
}